
.container {
  display: flex;
  justify-content: center;
}

body {
  background-color: #AFD4C0;
}

.header {
  background-color: #519872;
  color: white;
  height: 15vh;
  padding: 3vh;
}

.header h1 {
  font-size: 80px;
  margin-left: 20%;
}

.form {
  background-color: #E5F4EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin-top: 5vh;
}

.form input {
  margin: 10px;
}

.dashboard {
  background-color: #E5F4EC;
  width: 70%;
  margin-top: 5vh;
  padding: 30px;
}

.dashboard h1 {
  margin: 10px;
  margin-top: 20px;
}
.dashboard h3 {
  margin: 10px;
}

.button {
  background-color: #A8EA92;
  color: black;
  font-size: 30px;
  border: none;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  outline: none;
}

.pink {
  background-color: #FEC2C2;
}

.house img {
  height: 300px;
  display: block;
  margin: auto;
}

.houseInfo {
  height: 300px;
  padding: 10px;
}

.house {
  display: flex;
  justify-content: space-between;
}

.addProperty {
  margin-bottom: 50px;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

.dashboardHeader h1 {
  font-size: 40px;
  font-weight: bold;
}

.dashboard h2 {
  font-size: 20px;
  padding-left: 15px;
}

.houseInfo {
  text-align: left;
  padding-left: 70px;
}

.houseInfo h1 {
  font-size: 40px;
}

.houseInfo h3 {
  font-size: 25px;
}

.houseContainer {
  width: 450px;
  overflow: hidden;
}

.houseFlexContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.next, 
.previous {
  margin: 20px;
  background-color: #3B5249;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.forwardBackLinks {
  margin-top: 20px;
}